name: Scraper

on:
  schedule:
    - cron: '*/5 * * * *'  # Runs every 5 minutes
  workflow_dispatch:      # Manual trigger

permissions:
  contents: write

jobs:
  run-scraper:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Julia
        uses: julia-actions/setup-julia@v1
        with:
          version: '1'

      - name: Run Script
        run: julia scraper.jl

      - name: Save Data
        run: |
          git config user.name "Scraper Bot"
          git config user.email "bot@github.com"
          
          # Only add CSVs inside the scans folder
          git add scans/*.csv
          
          # Commit only if there are changes
          git diff --staged --quiet || git commit -m "New scan data"
          git push