name: Chartink Master Bot

on:
  schedule:
    - cron: '*/5 * * * *' # Every 5 mins
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
          cache: 'pip'

      - name: Install Libs
        run: |
          pip install -r requirements.txt
          playwright install chromium

      - name: Run Pipeline
        env:
          GCP_SERVICE_ACCOUNT: ${{ secrets.GCP_SERVICE_ACCOUNT }}
        run: python main.py
